target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.iws
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
/.vscode/

.DS_Store

/shelf/
/workspace.xml

/httpRequests/
/dataSources/
/dataSources.local.xml

!*.postman_collection.json
!postman/*.json
!data.sql

uploads/